<div [attr.data-theme]="theme" class="page-outer-container" #themeElement>
  <button class="theme-switch" (click)="toggleTheme()">
    <span [hidden]="this.theme == 'light'">🌞 Toggle Light Theme</span>
    <span [hidden]="this.theme == 'dark'">🌚 Toggle Dark Theme</span>
  </button>
  <div class="page-container">
    <div class="grid">
      <sj-page-block class="profile-block">
        <sj-profile-block></sj-profile-block>
      </sj-page-block>
      <sj-page-block class="summary-block">
        <sj-summary-block></sj-summary-block>
      </sj-page-block>
      <sj-page-block class="showcase-block">
        <sj-showcase-block></sj-showcase-block>
      </sj-page-block>
      <sj-page-block class="social-block">
        <sj-social-block></sj-social-block>
      </sj-page-block>
      <sj-page-block class="other-block">
        Hello
      </sj-page-block>
    </div>
  </div>
</div>
